USE [ann77429_annamshop]
GO
/****** Object:  Table [dbo].[asp_Group]    Script Date: 29/03/2016 5:32:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[asp_Group](
	[id] [int] NOT NULL,
	[name] [nvarchar](128) NOT NULL,
	[description] [nvarchar](1024) NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK__asp_Grou__3213E83F574E4F1F] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[asp_Group_Role]    Script Date: 29/03/2016 5:32:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[asp_Group_Role](
	[roleName] [nvarchar](128) NOT NULL,
	[groupid] [int] NOT NULL,
 CONSTRAINT [PK__asp_Grou__F9183898A2A3FC6B] PRIMARY KEY CLUSTERED 
(
	[roleName] ASC,
	[groupid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[asp_Role]    Script Date: 29/03/2016 5:32:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[asp_Role](
	[name] [nvarchar](128) NOT NULL,
	[description] [nvarchar](1024) NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK__asp_Role__72E12F1AAC9EB89A] PRIMARY KEY CLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[asp_User]    Script Date: 29/03/2016 5:32:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[asp_User](
	[account] [nvarchar](32) NOT NULL,
	[password] [nvarchar](32) NOT NULL,
	[userName] [nvarchar](128) NOT NULL,
	[email] [nvarchar](128) NULL,
 CONSTRAINT [PK__asp_User__EA162E10AE33DC1F] PRIMARY KEY CLUSTERED 
(
	[account] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[asp_User_Group]    Script Date: 29/03/2016 5:32:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[asp_User_Group](
	[userid] [nvarchar](32) NOT NULL,
	[groupid] [int] NOT NULL,
 CONSTRAINT [PK__asp_User__832DF2AFDD5708E7] PRIMARY KEY CLUSTERED 
(
	[userid] ASC,
	[groupid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Class]    Script Date: 29/03/2016 5:32:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Class](
	[IDClass] [int] NOT NULL,
	[Subject] [varchar](45) NULL,
	[CourseID] [int] NULL,
	[Department] [varchar](45) NULL,
	[Title] [varchar](45) NULL,
	[Description] [text] NULL,
 CONSTRAINT [PK_Class] PRIMARY KEY CLUSTERED 
(
	[IDClass] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Course]    Script Date: 29/03/2016 5:32:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Course](
	[IDCourse] [int] IDENTITY(1,1) NOT NULL,
	[CMID] [nvarchar](32) NULL,
	[Dates] [varchar](45) NULL,
	[Credits] [int] NULL,
	[Days] [int] NULL,
	[BTime] [datetime] NULL,
	[ETime] [datetime] NULL,
	[Location] [nvarchar](50) NULL,
	[FID] [nvarchar](32) NULL,
	[CLID] [nvarchar](32) NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[IDCourse] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Grade]    Script Date: 29/03/2016 5:32:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grade](
	[GradeID] [int] IDENTITY(1,1) NOT NULL,
	[StudentGrade] [int] NOT NULL,
	[CourseID] [int] NOT NULL,
	[TotalScore] [int] NULL,
	[GradeLetter] [nvarchar](50) NULL,
 CONSTRAINT [PK_Grade] PRIMARY KEY CLUSTERED 
(
	[GradeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Profile]    Script Date: 29/03/2016 5:32:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profile](
	[ProfileID] [int] IDENTITY(1,1) NOT NULL,
	[account] [nvarchar](32) NULL,
	[fullname] [nvarchar](50) NULL,
	[phone] [nvarchar](11) NULL,
	[address] [nvarchar](200) NULL,
 CONSTRAINT [PK_Profile] PRIMARY KEY CLUSTERED 
(
	[ProfileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Report]    Script Date: 29/03/2016 5:32:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CourseID] [int] NOT NULL,
	[Studentcount] [int] NULL,
	[StatisticalData] [nvarchar](max) NULL,
	[GradeDistributionData] [nvarchar](max) NULL,
	[Status] [int] NULL,
	[CLID] [nvarchar](32) NULL,
	[CMID] [nvarchar](32) NULL,
	[PVCID] [nvarchar](32) NULL,
	[DLTID] [nvarchar](32) NULL,
	[Created] [datetime] NULL,
	[Modified] [datetime] NULL,
	[Comment] [nvarchar](max) NULL,
 CONSTRAINT [PK_Report] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Student]    Script Date: 29/03/2016 5:32:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Student](
	[IDStudent] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Address] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Phone] [varchar](50) NULL,
	[account] [nvarchar](32) NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[IDStudent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[asp_Group] ([id], [name], [description], [status]) VALUES (0, N'Guest', N'Guest', 0)
INSERT [dbo].[asp_Group] ([id], [name], [description], [status]) VALUES (1, N'Admin', N'Super Admin', 1)
INSERT [dbo].[asp_Group] ([id], [name], [description], [status]) VALUES (2, N'PVC', N'Pro-Vice Chancellor', 1)
INSERT [dbo].[asp_Group_Role] ([roleName], [groupid]) VALUES (N'0', 1)
INSERT [dbo].[asp_Group_Role] ([roleName], [groupid]) VALUES (N'1', 4)
INSERT [dbo].[asp_Group_Role] ([roleName], [groupid]) VALUES (N'1', 5)
INSERT [dbo].[asp_Role] ([name], [description], [status]) VALUES (N'0', N'Admin', 0)
INSERT [dbo].[asp_Role] ([name], [description], [status]) VALUES (N'1', N'Create Report', 0)
INSERT [dbo].[asp_Role] ([name], [description], [status]) VALUES (N'2', N'Review Report', 0)
INSERT [dbo].[asp_User] ([account], [password], [userName], [email]) VALUES (N'Admin', N'e3afed0047b08059d0fada10f400c1e5', N'Admin', N'thanhnxgt00410@fpt.edu.vn')
INSERT [dbo].[asp_User] ([account], [password], [userName], [email]) VALUES (N'CL', N'5bc574a47246f122016869b32a6aa6f0', N'CL', N'CL@gmail.com')
INSERT [dbo].[asp_User] ([account], [password], [userName], [email]) VALUES (N'CM', N'707354872d4e8210a2a573b99721b1fb', N'CM', N'CM@gmail.com')
INSERT [dbo].[asp_User_Group] ([userid], [groupid]) VALUES (N'Admin', 1)
INSERT [dbo].[asp_User_Group] ([userid], [groupid]) VALUES (N'CL', 5)
INSERT [dbo].[asp_User_Group] ([userid], [groupid]) VALUES (N'CM', 4)
INSERT [dbo].[Class] ([IDClass], [Subject], [CourseID], [Department], [Title], [Description]) VALUES (1, N'IOS', 22, N'ABC', N'IOS FOR PHONEGAP', N'Introduction about phonegap ')
SET IDENTITY_INSERT [dbo].[Course] ON 

INSERT [dbo].[Course] ([IDCourse], [CMID], [Dates], [Credits], [Days], [BTime], [ETime], [Location], [FID], [CLID]) VALUES (1, N'Admin', N'2015-07-02', 18, 30, CAST(0x0000A59F00000000 AS DateTime), CAST(0x0000A5A200000000 AS DateTime), N'Ha noi - VN', N'CL', N'PVC')
INSERT [dbo].[Course] ([IDCourse], [CMID], [Dates], [Credits], [Days], [BTime], [ETime], [Location], [FID], [CLID]) VALUES (21, N'DLT', N'2016-03-11', 2, 30, CAST(0x0000A59F00000000 AS DateTime), CAST(0x0000A5A200000000 AS DateTime), N'Ha noi', N'CL', N'PVC')
INSERT [dbo].[Course] ([IDCourse], [CMID], [Dates], [Credits], [Days], [BTime], [ETime], [Location], [FID], [CLID]) VALUES (22, N'CM', N'2016-03-04', 2, 30, CAST(0x0000A59F00000000 AS DateTime), CAST(0x0000A5A200000000 AS DateTime), N'Ha noi', N'DLT', N'PVC')
SET IDENTITY_INSERT [dbo].[Course] OFF
SET IDENTITY_INSERT [dbo].[Grade] ON 

INSERT [dbo].[Grade] ([GradeID], [StudentGrade], [CourseID], [TotalScore], [GradeLetter]) VALUES (3, 4, 21, 321, N'234')
INSERT [dbo].[Grade] ([GradeID], [StudentGrade], [CourseID], [TotalScore], [GradeLetter]) VALUES (4, 1, 1, 4, N'321')
SET IDENTITY_INSERT [dbo].[Grade] OFF
SET IDENTITY_INSERT [dbo].[Report] ON 

SET IDENTITY_INSERT [dbo].[Report] OFF
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([IDStudent], [FirstName], [LastName], [Address], [Email], [Phone], [account]) VALUES (1, N'Nguyen Van Nam', N'Hoang', N'Hoai duc - Ha noi', N'nguyenvannam19942802@gmail.com', N'0969763694', N'Admin')
INSERT [dbo].[Student] ([IDStudent], [FirstName], [LastName], [Address], [Email], [Phone], [account]) VALUES (4, N'Anh', N'Nguyen', N'Hoai duc - Ha noi', N'nguyenvannam19942802@gmail.com', N'0969763694', N'Admin')
INSERT [dbo].[Student] ([IDStudent], [FirstName], [LastName], [Address], [Email], [Phone], [account]) VALUES (5, N'Ngoc ', N'Nguyen', N'Ha noi', N'abc@gmail.com', N'123456890', NULL)
SET IDENTITY_INSERT [dbo].[Student] OFF
ALTER TABLE [dbo].[asp_Group] ADD  CONSTRAINT [DF__asp_Group__statu__20C1E124]  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[asp_Role] ADD  CONSTRAINT [DF__asp_Role__status__21B6055D]  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[Report] ADD  CONSTRAINT [DF_Report_Created]  DEFAULT (getdate()) FOR [Created]
GO
ALTER TABLE [dbo].[Report] ADD  CONSTRAINT [DF_Report_Modified]  DEFAULT (getdate()) FOR [Modified]
GO
ALTER TABLE [dbo].[asp_Group_Role]  WITH CHECK ADD  CONSTRAINT [FK__asp_Group__group__22AA2996] FOREIGN KEY([groupid])
REFERENCES [dbo].[asp_Group] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[asp_Group_Role] CHECK CONSTRAINT [FK__asp_Group__group__22AA2996]
GO
ALTER TABLE [dbo].[asp_Group_Role]  WITH CHECK ADD  CONSTRAINT [FK__asp_Group__roleN__239E4DCF] FOREIGN KEY([roleName])
REFERENCES [dbo].[asp_Role] ([name])
GO
ALTER TABLE [dbo].[asp_Group_Role] CHECK CONSTRAINT [FK__asp_Group__roleN__239E4DCF]
GO
ALTER TABLE [dbo].[asp_User_Group]  WITH CHECK ADD  CONSTRAINT [FK__asp_User___group__24927208] FOREIGN KEY([groupid])
REFERENCES [dbo].[asp_Group] ([id])
GO
ALTER TABLE [dbo].[asp_User_Group] CHECK CONSTRAINT [FK__asp_User___group__24927208]
GO
ALTER TABLE [dbo].[asp_User_Group]  WITH CHECK ADD  CONSTRAINT [FK__asp_User___useri__25869641] FOREIGN KEY([userid])
REFERENCES [dbo].[asp_User] ([account])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[asp_User_Group] CHECK CONSTRAINT [FK__asp_User___useri__25869641]
GO
ALTER TABLE [dbo].[Class]  WITH CHECK ADD  CONSTRAINT [FK_Class_Course] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Course] ([IDCourse])
GO
ALTER TABLE [dbo].[Class] CHECK CONSTRAINT [FK_Class_Course]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_asp_User] FOREIGN KEY([CMID])
REFERENCES [dbo].[asp_User] ([account])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_asp_User]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_asp_User1] FOREIGN KEY([CLID])
REFERENCES [dbo].[asp_User] ([account])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_asp_User1]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_asp_User2] FOREIGN KEY([FID])
REFERENCES [dbo].[asp_User] ([account])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_asp_User2]
GO
ALTER TABLE [dbo].[Grade]  WITH CHECK ADD  CONSTRAINT [FK_Grade_Course1] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Course] ([IDCourse])
GO
ALTER TABLE [dbo].[Grade] CHECK CONSTRAINT [FK_Grade_Course1]
GO
ALTER TABLE [dbo].[Grade]  WITH CHECK ADD  CONSTRAINT [FK_Grade_Student] FOREIGN KEY([StudentGrade])
REFERENCES [dbo].[Student] ([IDStudent])
GO
ALTER TABLE [dbo].[Grade] CHECK CONSTRAINT [FK_Grade_Student]
GO
ALTER TABLE [dbo].[Profile]  WITH CHECK ADD  CONSTRAINT [FK_Profile_asp_User] FOREIGN KEY([account])
REFERENCES [dbo].[asp_User] ([account])
GO
ALTER TABLE [dbo].[Profile] CHECK CONSTRAINT [FK_Profile_asp_User]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK_Report_asp_User] FOREIGN KEY([CLID])
REFERENCES [dbo].[asp_User] ([account])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_Report_asp_User]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK_Report_asp_User1] FOREIGN KEY([CMID])
REFERENCES [dbo].[asp_User] ([account])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_Report_asp_User1]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK_Report_asp_User2] FOREIGN KEY([PVCID])
REFERENCES [dbo].[asp_User] ([account])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_Report_asp_User2]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK_Report_asp_User3] FOREIGN KEY([DLTID])
REFERENCES [dbo].[asp_User] ([account])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_Report_asp_User3]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_asp_User] FOREIGN KEY([account])
REFERENCES [dbo].[asp_User] ([account])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_asp_User]
GO
